<h1>{{name}}</h1>
<ul>
  <li>Age {{age}}</li>
  <li>Email: {{email}}</li>
  <li>{{address.street}} {{address.home_number}}, {{address.city}}</li>
</ul>

<button (click)="onClick()">CLICK ME!</button>
<br>
<button (click)="toggleEdit()">Toggle edit user</button>

<div *ngIf=isEdit>
<h2>Edit User</h2>
<form action="">
    <div>
        <label for="name">Name:  </label>
        <input type="text" [(ngModel)]="name" name="name">
    </div>
    <div>
        <label for="age">Age:  </label>
        <input type="text" [(ngModel)]="age" name="age">
    </div>
    <div>
        <label for="email">Email:  </label>
        <input type="text" [(ngModel)]="email" name="email">
    </div>
    <div>
        <label for="street">Street:  </label>
        <input type="text" [(ngModel)]="address.street" name="street">
    </div>
    <div>
        <label for="home_number">Home number:  </label>
        <input type="text" [(ngModel)]="address.home_number" name="home_number">
    </div>
    <div>
        <label for="city">City:  </label>
        <input type="text" [(ngModel)]="address.city" name="city">
    </div>
</form>
</div>

<h2>Hobbies: </h2>

<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby:  </label>
    <input type="text" #hobby>
  </div>
</form>

<ul>
  <li *ngFor= "let hobby of hobbies; let i = index">
    {{i + 1}}: {{hobby}} <button (click)="deleteHobby(hobby)">X</button>
  </li>
</ul>


<h2>Incrementing so good:</h2>
<ul>
    <li>x++ :{{incr.inc1}}</li>
    <li>x += 1: {{incr.inc2}}</li>
    <li>x = Number(x + 1): {{incr.inc3}}</li>
  </ul>
  <button (click)="increment()">Click to increment!</button>
<p>Change values in input fields below, and click button to increment.</p>
<form action="">
    <div>
        <label for="inc1">Case 1:  </label>
        <input type="text" [(ngModel)]="incr.inc1" name="inc1">
    </div>
    <div>
        <label for="inc2">Case 2:  </label>
        <input type="text" [(ngModel)]="incr.inc2" name="inc2">
    </div>
    <div>
        <label for="inc3">Case 3:  </label>
        <input type="text" [(ngModel)]="incr.inc3" name="inc3">
    </div>
</form>
<p>Lesson here: input type in html does metter as hell... Try again with ones below:</p>
<form action="">
    <div>
        <label for="inc1">Case 1:  </label>
        <input type="number" [(ngModel)]="incr.inc1" name="inc1">
    </div>
    <div>
        <label for="inc2">Case 2:  </label>
        <input type="number" [(ngModel)]="incr.inc2" name="inc2">
    </div>
    <div>
        <label for="inc3">Case 3:  </label>
        <input type="number" [(ngModel)]="incr.inc3" name="inc3">
    </div>
</form>



<h1>POSTS</h1>
<div *ngFor="let post of posts"> 
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>